$main-text-color: #871a1a
$text-flash-color: gold

@font-face
    font-family: 'DPComic Regular'
    src: url('../fonts/dpcomic.ttf')

@mixin prefix($property, $value)
    -moz-#{$property}: $value
    -webkit-#{$property}: $value
    -ms-#{$property}: $value
    #{$property}: $value

@mixin flexbox($direction: row, $justify: space-between, $align: center)
    display: -webkit-flex
    display: flex
    @include prefix(flex-direction, $direction)
    @include prefix(flex-wrap, wrap)
    @include prefix(justify-content, $justify)
    @include prefix(align-items, $align)

@-webkit-keyframes pulsate
    0%
        @include prefix(transform, translate3d(0, 0, 0))
    50%
        @include prefix(transform, translate3d(0, 0, 12rem))
    100%
        @include prefix(transform, translate3d(0, 0, 0))

@keyframes pulsate
    0%
        @include prefix(transform, translate3d(0, 0, 0))
    50%
        @include prefix(transform, translate3d(0, 0, 12rem))
    100%
        @include prefix(transform, translate3d(0, 0, 0))
        
@keyframes zoom
    0%
        @include prefix(transform, translate3d(0, 0, 30rem))
    100%
        @include prefix(transform, translate3d(0, 0, 0))
@-webkit-keyframes zoom
    0%
        @include prefix(transform, translate3d(0, 0, 30rem))
    100%
        @include prefix(transform, translate3d(0, 0, 0))
        
@-webkit-keyframes flashing
    0%
        color: $main-text-color
    50%
        color: $text-flash-color
    100%
        color: $main-text-color

@keyframes flashing
    0%
        color: $main-text-color
    50%
        color: $text-flash-color
    100%
        color: $main-text-color
        
@mixin flashing
    -webkit-animation: flashing .75s infinite ease-out
    -moz-animation: flashing .75s infinite  ease-out
    animation: flashing .75s infinite  ease-out

@mixin pulsating($time: 1s)
    -webkit-animation: pulsate $time infinite linear
    -moz-animation: pulsate $time infinite linear
    animation: pulsate $time infinite linear
    
.pulsating-slow
    @include pulsating
.pulsating-fast
    @include pulsating(.4s)
    
.zooming
    -webkit-animation: zoom .4s 0s 1 ease-out
    -moz-animation: zoom .4s 0s 1 ease-out
    animation: zoom .4s 0s 1 ease-out

*
    margin: 0
    padding: 0
    border: none
    font-size: 100%
    font-weight: normal
    box-sizing: border-box

ul
    list-style-type: none
a
    text-decoration: none
    color: inherit
a, button
    cursor: pointer
.hidden
    display: none !important
    
body
    background-color: #343434

#canvas-container
    #created-by
        position: absolute
        left: 0
        bottom: 0
        color: #FFF
        font-size: 1.6rem
        text-shadow: .1rem .1rem #343434
        padding: .5rem
        background-color: rgba(34, 34, 34, .8)
    font-family: 'DPComic Regular', monospace
    position: relative
    overflow: hidden
    width: 800px
    height: 415px
    margin: 40px auto 0 auto
    #hud
        position: absolute
        background-color: rgba(34, 34, 34, .8)
        color: #EAEAEA
        font-size: .8rem
        @include flexbox(row, center)
        width: 100%
        top: 0
        height: 10%
        &>div
            @include flexbox(row, space-around)
            width: 33%
            font-size: 1.6rem
            text-align: center
            #score, #killcount
                display: inline-block
                min-width: 4rem
                font-size: 2rem
                text-align: right
        #ammo-container
            @include flexbox
            @include prefix(user-select, none)
            img
                @include prefix(user-select, none)

    #info
        position: absolute
        width: 100%
        background-color: transparent
        top: 10%
        text-align: center
        font-size: 3.5rem
        text-shadow: .1rem .1rem #343434
        color: $main-text-color
        -webkit-perspective: 50rem
        perspective: 50rem
        overflow: visible
        #current-message
            overflow: visible
            &.small, .sub-message
                font-size: 2rem
                text-shadow: none
        .action-button-parent
            -webkit-perspective: 50rem
            perspective: 50rem
            .action-button
                cursor: pointer
        #intro, #recap
            h1
                font-size: 4rem
                text-shadow: .1rem .1rem #343434
            p
                width: 85%
                margin: 0 auto
                font-size: 1.6rem
                text-shadow: none
            #instructions
                position: relative
                width: 85%
                margin: 0 auto
                font-size: 1.6rem
                text-shadow: none
                #loading
                    width: 100%
                    background-color: #343434
                    height: 1.7rem
                    position: relative
                    margin-top: 1rem
                    span
                        position: absolute
                        width: 100%
                        left: 0
                        top: .2rem
                        text-align: center
                        color: #FFF
                        font-size: 1.3rem
                    #loading-progress
                        background-color: $main-text-color
                        height: 1.7rem
                        position: absolute
                        width: 0%
        #recap
            margin-top: 1.5rem
            .new-record
                margin-left: 1.5rem
                @include flashing
                
    canvas
        position: absolute
        background-color: transparent
        &.left
            left: 0
        &.right
            right: 0
