@font-face
    font-family: 'lunchds'
    src: url('../fonts/lunchds.ttf')

@mixin prefix($property, $value)
    -moz-#{$property}: $value
    -webkit-#{$property}: $value
    -ms-#{$property}: $value
    #{$property}: $value

@mixin flexbox($direction: row, $justify: space-between, $align: center)
    display: -webkit-flex
    display: flex
    @include prefix(flex-direction, $direction)
    @include prefix(flex-wrap, wrap)
    @include prefix(justify-content, $justify)
    @include prefix(align-items, $align)
    
@keyframes bonus-flash
    0%
        font-size: 175px
    100%
        font-size: 40px
        
.bonus-flash
    animation: bonus-flash
    animation-duration: .5s
    animation-iteration-count: 1
    animation-timing-function: linear
    

*
    margin: 0
    padding: 0
    border: none
    font-size: 100%
    font-weight: normal
    box-sizing: border-box

ul
    list-style-type: none
a
    text-decoration: none
a, button
    cursor: pointer
.hidden
    display: none !important
    
#canvas-container
    font-family: 'lunchds', monospace
    position: relative
    width: 800px
    height: 450px
    margin: 0 auto
    background-color: #EAEAEA
    #hud
        position: absolute
        bottom: 0
        width: 100%
        background-color: #292929
        color: #FFF
        padding: 6px
        height: 15%
        font-size: .8rem
        overflow: hidden
        @include flexbox
        #other-container, #ammo-container, #score-container
            color: #EAEAEA
        #ammo-container, #ammo-container img
            @include prefix(user-select, none)
        #ammo-container
            @include flexbox
            width: 40%
            height: 100%
            margin: 0 auto
            cursor: pointer
        #other-container, #score-container
            @include flexbox(row, space-around)
            width: 30%
            font-size: 1.3rem
            text-align: center
        #score
            display: inline-block
            min-width: 4rem
            text-align: right
            
    #info
        position: absolute
        width: 100%
        background-color: transparent
        top: 25px
        text-align: center
        color: black
        h3
            font-size: 2rem
        #message
            font-size: 1.2rem
            width: 70%
            margin: 0 auto
        #bonus
            font-size: 40px
            white-space: nowrap
            overflow: hidden
            margin: 0 auto
        button
            font-family: 'lunchds', monospace
            display: block
            margin: 15px auto
            padding: 10px
            color: #871a1a
            font-size: 2.5rem
            text-shadow: .1rem .1rem #343434
            background-color: inherit
            cursor: pointer
            
    canvas
        position: absolute
        background-color: transparent
    .zombie-canvas
        &.left
            left: 0
        &.right
            right: 0
