@font-face
    font-family: 'dpcomic'
    src: url('../fonts/dpcomic.ttf')

@mixin prefix($property, $value)
    -moz-#{$property}: $value
    -webkit-#{$property}: $value
    -ms-#{$property}: $value
    #{$property}: $value

@mixin flexbox($direction: row, $justify: space-between, $align: center)
    display: -webkit-flex
    display: flex
    @include prefix(flex-direction, $direction)
    @include prefix(flex-wrap, wrap)
    @include prefix(justify-content, $justify)
    @include prefix(align-items, $align)

@-webkit-keyframes pulsate
    0%
        @include prefix(transform, translate3d(0, 0, 0))
    50%
        @include prefix(transform, translate3d(0, 0, 12rem))
    100%
        @include prefix(transform, translate3d(0, 0, 0))

@keyframes pulsate
    0%
        @include prefix(transform, translate3d(0, 0, 0))
    50%
        @include prefix(transform, translate3d(0, 0, 12rem))
    100%
        @include prefix(transform, translate3d(0, 0, 0))
        
@keyframes zoom
    0%
        @include prefix(transform, translate3d(0, 0, 30rem))
    100%
        @include prefix(transform, translate3d(0, 0, 0))
@-webkit-keyframes zoom
    0%
        @include prefix(transform, translate3d(0, 0, 30rem))
    100%
        @include prefix(transform, translate3d(0, 0, 0))

@mixin pulsating($time: 1s)
    -webkit-animation: pulsate $time infinite linear
    -moz-animation: pulsate $time infinite linear
    animation: pulsate $time infinite linear
    
.pulsating-slow
    @include pulsating
.pulsating-fast
    @include pulsating(.4s)
    
.zooming
    -webkit-animation: zoom .4s 0s 1 ease-out
    -moz-animation: zoom .4s 0s 1 ease-out
    animation: zoom .4s 0s 1 ease-out

*
    margin: 0
    padding: 0
    border: none
    font-size: 100%
    font-weight: normal
    box-sizing: border-box

ul
    list-style-type: none
a
    text-decoration: none
a, button
    cursor: pointer
.hidden
    display: none !important

#canvas-container
    font-family: 'dpcomic', monospace
    position: relative
    overflow: hidden
    width: 800px
    height: 415px
    margin: 0 auto
    background-color: #EAEAEA
    #hud
        position: absolute
        background-color: rgba(29, 29, 29, .8)
        color: #EAEAEA
        font-size: .8rem
        @include flexbox(row, center)
        width: 100%
        top: 0
        height: 10%
        &>div
            @include flexbox(row, space-around)
            width: 33%
            font-size: 1.6rem
            text-align: center
            #score
                display: inline-block
                min-width: 4rem
                font-size: 2rem
                text-align: right
        #ammo-container
            @include flexbox
            @include prefix(user-select, none)
            img
                @include prefix(user-select, none)

    #info
        position: absolute
        width: 100%
        background-color: transparent
        top: 15%
        text-align: center
        font-size: 3.5rem
        text-shadow: .1rem .1rem #343434
        color: #871a1a
        -webkit-perspective: 50rem
        perspective: 50rem
        overflow: visible
        #current-message
            overflow: visible
        #intro
            p
                width: 70%
                margin: 0 auto
                font-size: 2rem
                color: #000
                text-shadow: none
            #start-container
                -webkit-perspective: 50rem
                perspective: 50rem
                #start
                    display: block
                    width: 25%
                    margin: 15px auto
                    font-size: 4rem
                    background-color: inherit
                    cursor: pointer
            
    canvas
        position: absolute
        background-color: transparent
        &.left
            left: 0
        &.right
            right: 0
